body{
    margin: 0;
    padding: 0;
}

.topo{
    background-color: #eee;
    border-bottom: 2px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.topo img{
    height: 70px;
    margin: 10px;
}

nav{
    display: flex;
    /* flex-direction: column; */
    margin: 0 10px 0 0;
}

nav a{
    color: #333;
    text-decoration: none;
    margin: 0 7px;
}

nav a:hover{
    font-weight: bold;
}